{% block body %}

<h2>Login</h2>
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
<form action="{{ url_for('posts') }}" method="post">
    <dl>
        <dt>Email:
        <dd><input type="text" name="email">
        <dt>Password:
        <dd><input type="password" name="password">
        <dt>First name:
        <dd><input type="text" name="fname">
        <dt>Last name:
        <dd><input type="text" name="lname">
	<dt>Content:
        <dd><input type="text" name="content">
 	<dt>Name:
        <dd><input type="text" name="name">
	<dt>Title:
        <dd><input type="text" name="title">
	<dt>Tag:
        <dd><input type="text" name="tag">
        <dd><input type="submit" value="submit">
    </dl>
</form>

{% endblock %}
